[[spiource]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "==4.3.3"
pillow = "==9.1.1"
async-timeout = "==4.0.2"

[dev-packages]

[requires]
python_version = "3.8"
